.down
  height: 156px
  padding-top: 11px
  &::before
    content: ''
    display: block
    margin: 0 auto
    width: 299px
    height: 4px
    background-color: #1FBAD6
  &_menu_one
    margin: 35px 0 0 0
    display: flex
    justify-content: space-between
    list-style-type: none
    &_text
      font-weight: 300
      font-size: 15px
      text-transform: uppercase
      color: #070716
      text-decoration: none
      padding: 0 10px 0 10px
  &_menu_two
    margin: 15px 0 0 0
    display: flex
    justify-content: space-between
    list-style-type: none
    &_text
      font-weight: 300
      font-size: 11px
      text-transform: uppercase
      color: #999999
      text-decoration: none
  &_menu_lng
    display: block
    text-align: center
    text-decoration: none
    font-weight: 400
    font-size: 11px
    text-transform: uppercase
    color: #1FBAD6
    margin-top: 18px

    <footer class="down">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul class="down_menu_one">
                        <li><a href="#" class="down_menu_one_text">на главную</a></li>
                        <li><a href="#" class="down_menu_one_text">города</a></li>
                        <li><a href="#" class="down_menu_one_text">для водителей</a></li>
                    </ul>
                    <ul class="down_menu_two">
                        <li><a href="#" class="down_menu_two_text">центр поддержки</a></li>
                        <li><a href="#" class="down_menu_two_text">вакансии</a></li>
                        <li><a href="#" class="down_menu_two_text">разработчики</a></li>
                        <li><a href="#" class="down_menu_two_text">блог</a></li>
                        <li><a href="#" class="down_menu_two_text">о нас</a></li>
                    </ul>
                    <a href="#" class="down_menu_lng">русский</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>


    <div class="footer_divider"></div>
    <div class="footer_wrapper">
        <!-- Если не оборачивать каждый блок в обертку - получится криво -->
        <div>
            <div class="footer_social">
                <a href="#" class="footer_social_item">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="footer_social_item">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="footer_social_item">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="footer_social_item">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div>
            <div class="footer_links">
                <div class="footer_links_main">
                    <a href="#">на главную</a>
                    <a href="#">города</a>
                    <a href="#">для водителей</a>
                </div>
                <div class="footer_links_sub">
                    <a href="#">центр поддержки</a>
                    <a href="#">вакансии</a>
                    <a href="#">разработчики</a>
                    <a href="#">блог</a>
                    <a href="#">о нас</a>
                </div>
                <a href="#" class="footer_links_lang">Русский</a>
            </div>
        </div>
        <div>
            <div class="footer_mobile">
                <a href="#">
                    <img src="img/app_store.png" alt="App Store">
                </a>
                <a href="#">
                    <img src="img/google_play.png" alt="Google play">
                </a>
                <a href="#">
                    <img src="img/windows_store.png" alt="Windows store">
                </a>
            </div>
        </div>
    </div>

    .footer
    &_divider
      width: 299px
      height: 4px
      background-color: #1fbad6
      margin: 0 auto
    &_wrapper
      display: flex 
      justify-content: space-between
      align-items: flex-start
      padding-top: 32px
    &_wrapper > div 
      width: 33%
      &:nth-child(3)
        display: flex 
        justify-content: flex-end
    &_social
      width: 160px
      display: flex
      justify-content: space-between
      &_item 
        display: flex 
        justify-content: center
        align-items: center
        margin: 0 4px 
        width: 32px
        height: 32px
        background-color: #070716
        border-radius: 100%
        i 
          color: #fff
    &_links
      width: 390px
      margin: 0 auto
      &_main 
        display: flex 
        justify-content: space-between
        padding: 0 10px
        a 
          color: #070716
          font-size: 15px
          font-weight: 300
          text-transform: uppercase
      &_sub 
        display: flex 
        justify-content: space-between
        margin-top: 10px
        a 
          color: #999999
          font-size: 11px
          font-weight: 300
          text-transform: uppercase
      &_lang 
        display: block 
        margin: 0 auto
        color: #1fbad6
        font-size: 11px
        font-weight: 400
        margin-top: 19px
        text-transform: uppercase
        text-align: center
  
